body{
  background-color:indigo;
}
/*Make all the trafficLight items to display flex*/
.trafficColor{                           
  background-color: rgb(172, 168, 168);
  border: 2px dotted black;
  display: flex;
  flex-direction: column;
  width:100px;
  margin: 200px auto;
  align-items: center;
  height: 200px;
  justify-content: space-evenly;
}
/*style the each traffic lights*/
.trafficColor>div{
  width:50px;
  border: 2px dotted black;
  border-radius: 50%;
  height:50px;
  opacity: 0.3;
}

/*Give style color to each lights*/

.trafficColor>div:first-child{
  background-color: red;
}
.trafficColor>div:nth-child(2){
  background-color: yellow;
}
.trafficColor>div:nth-child(3){
  background-color: green;
}

